html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  touch-action: none;
}

canvas {
  display: block;
}

/* Smartphone */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}
